'use client'; import {
{{properCase name}}Form } from '@/components/{{name}}/Form'; export default function
{{properCase name}}Page() { return (
<div className='p-4'>
  <h1>{{properCase name}} 页面</h1>
  {{componentTag (properCase name)}}
</div>
); }